.root {
  border: 1px solid;
  padding: 16px;
  text-align: left;
  max-width: 600px;
}

.inputEdit {
  padding: 8px;
  border-radius: 4px;
  margin: 4px 0;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  outline-color: var(--bg-primary);
}

.submitBtn {
  background-color: var(--bg-primary);
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 4px 8px;
  font-size: 16px;
  margin: 8px;
}

.validationError {
  font-size: 12px;
  color: #f00;
}

.errorField {
  border: 1px solid #f00;
}
